.master-banner-section {
  background: url('/images/master-class/master-banner-checks.svg') no-repeat center,
    url('/images/categories/noise.png') repeat, linear-gradient(256.99deg, #002ccd 19.72%, #000825 97.05%),
    linear-gradient(180deg, #0834d8 0%, rgba(25, 76, 255, 0) 100%);
  background-blend-mode: color-dodge;
  .master-left-section {
    .master-shadow-text {
      z-index: 9;
      padding-left: 3px;
      &::before,
      &::after {
        width: 100%;
        height: 24px;
        position: absolute;
        left: 0;
      }
      &::before {
        content: '';
        background: url('/images/master-class/master-shadow-top.svg') no-repeat top left;
        background-size: contain;
        top: -15px;
      }
      &::after {
        content: '';
        background: url('/images/master-class/master-shadow-bottom.svg') no-repeat bottom left;
        background-size: contain;
        bottom: -15px;
      }
    }
    .master-banner-schedule {
      box-shadow: 4px 4px 0px 0px #fdb035;
      transition: 0.2s all;
      &:hover {
        box-shadow: none;
      }
    }
  }
  .master-right-section {
    background: url('/images/master-class/master-banner-right.svg') no-repeat top right;
    background-color: #ffffff;
    .master-mentor {
      background: url('/images/master-class/our-mentor.svg') no-repeat top 15px left 40px;
    }
  }
}

.master-class-get-info-section {
  margin-top: -110px;
}
.master-learn-section {
  .master-learn-list {
    li {
      &::before {
        width: 24px;
        height: 24px;
        content: '';
        position: absolute;
        background: url('/images/master-class/yellow-check.svg') no-repeat;
        left: 0;
        top: 1px;
        position: absolute;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  .master-learn-video {
    background: conic-gradient(from 180deg at 50% 76.59%, #ffffff 0deg, #e6ebff 360deg, #d2dcff 360.04deg);
  }
}
.master-class-for {
  background-color: #f5f7ff;
  .marquee-for {
    &::before,
    &::after {
      width: 165px;
      height: 100%;
      display: block;
      position: absolute;
      content: '';
      top: 0;
      background-size: contain;
      z-index: 9;
    }
    &::before {
      background: url('/images/master-class/marquee-shadow-left.svg') no-repeat top left;
      left: 0;
    }
    &::after {
      background: url('/images/master-class/marquee-shadow-right.svg') no-repeat top left;
      right: 0;
    }
  }
}
.master-register-section {
  .hurry-up-box {
    background: url('/images/master-class/lines-vertical.png');
    background-color: #fff5e6;
    background-blend-mode: multiply;
    .master-reg-montor {
      background: url('/images/master-class/reg-mentor-bg.svg') no-repeat right 1px center;
      background-size: contain;
      position: relative;
      .mentor-info {
        bottom: 18px;
        z-index: 9;
      }
      .blured-name {
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.3);
      }
    }
    .enrolled-users {
      .enrolled-user {
        &:nth-child(2) {
          transform: translateX(-10px);
        }
        &:nth-child(3) {
          transform: translateX(-20px);
        }
      }
    }
  }
  .join-whatsapp {
    background: url('/images/master-class/lines-vertical.png');
    background-color: #ecfbef;
    background-blend-mode: multiply;
  }
}
.master-why-join {
  background: #f5f7ff;
  .rfm-child {
    min-width: 332px;
    min-height: 512px;
    margin-left: -8rem;
  }
  .rfm-marquee-container {
    margin-left: -8rem;
    margin-top: 11.5rem;
  }
  .join-card-stick {
    top: 0px;
    &:first-child {
      top: 0px !important;
    }
  }
  @for $i from 1 through 15 {
    .join-card-stick:nth-child(#{$i}n) {
      top: $i * 15 + 15px;
    }
  }
}
.connect-with-team {
  background: linear-gradient(273.73deg, #002ccd 7.33%, #000825 95.52%);
  button {
    transition: 0.4s all;
    &:hover {
      background-color: #ffffff;
    }
  }
}
.upcoming-master-class {
  .enrolled-users {
    .enrolled-user {
      &:nth-child(2) {
        transform: translateX(-10px);
      }
      &:nth-child(3) {
        transform: translateX(-20px);
      }
    }
  }
}
.recommended-offering {
  background: #f5f7ff url('/images/bg-layers/discover-your-course-bg.svg') no-repeat top center;
  .enrolled-users {
    .enrolled-user {
      &:nth-child(2) {
        transform: translateX(-10px);
      }
      &:nth-child(3) {
        transform: translateX(-20px);
      }
    }
  }
}
.master-testimonials {
  .master-review {
    background-color: #f9fafb;
    .review-bg {
      background-position: center !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      .master-review-content {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.26%, #000000 100%);
        img {
          right: 24px;
          top: 24px;
          z-index: 9;
        }
      }
    }
  }
}
.master-class-sticky {
  background: linear-gradient(256.99deg, #000825 19.72%, #002ccd 97.05%);
  box-shadow: 0px -6px 12px 0px #0000000d;
  z-index: 100;
  bottom: -100%;
  transition: bottom 0.5s;
  &.bottom-scrolled {
    bottom: 0;
  }
  .master-bottom-schedule {
    box-shadow: 4px 4px 0px 0px #fdb035;
    transition: 0.2s all;
    &:hover {
      box-shadow: none;
    }
  }
  .master-btn-share {
    transition: 0.2s all;
    background-color: #00bf4b !important;
    &:hover {
      box-shadow: 4px 4px 0px 0px #fdb035;
    }
  }
  .master-btn-reg {
    transition: 0.2s all;
    &:hover {
      box-shadow: 4px 4px 0px 0px #fdb035;
    }
  }
}
@media (max-width: 1399px) {
  .master-banner-section {
    h1 {
      font-size: 40px;
      line-height: 48px;
      & ~ p {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .master-left-section {
      .master-shadow-text {
        font-size: 25px;
        &::before,
        &::after {
          background-size: contain;
        }
      }
      .master-banner-schedule {
        p {
          font-size: 16px;
          img {
            width: 16px;
          }
        }
      }
      .banner-timer {
        .mr-40 {
          margin-right: 20px;
        }
        p,
        .timer-colon {
          font-size: 32px;
          line-height: 44px;
        }
        span {
          font-size: 14px;
          line-height: 21px;
        }
      }
      button {
        font-size: 16px;
        padding: 15px 30px;
        min-height: unset !important;
      }
    }
  }
  .master-learn-section,
  .master-class-for,
  .master-register-section,
  .master-why-join,
  .connect-with-team,
  .upcoming-master-class,
  .recommended-offering,
  .master-testimonials {
    h2 {
      & ~ p {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  .master-learn-section {
    ul {
      li {
        font-size: 14px;
      }
    }
    .max-w-712 {
      max-width: 600px;
    }
  }
  .master-class-for {
    .max-w-884 {
      max-width: 750px;
    }
  }
  .master-register-section {
    .hurry-up-box {
      .master-reg-montor {
        img {
          min-width: 300px;
        }
      }
    }
  }
  .connect-with-team {
    p {
      font-size: 14px;
    }
    h3 {
      font-size: 28px;
      line-height: 38px;
    }
    button {
      font-size: 16px;
    }
  }
}
@media (max-width: 991px) {
  .master-class-get-info-section {
    margin-top: -70px;
  }

  .master-banner-section {
    text-align: center;
    .master-left-section {
      .master-shadow-text {
        &::before,
        &::after {
          left: 0;
          right: 0;
          margin: auto;
          background-position: center;
        }
      }
      h1 {
        font-size: 32px;
        line-height: 44px;
        font-weight: 600;
        margin-bottom: 16px;
        & ~ p {
          font-size: 14px;
          line-height: 22px;
        }
      }
      .master-banner-schedule {
        max-width: 400px;
        padding: 16px 20px;
        width: 100%;
        border-radius: 12px;
        margin: 0 auto 32px;
        span {
          height: 1px;
          width: 100%;
          margin: 12px auto !important;
          border: 0;
          border-bottom: 1px solid #7d7d7d;
        }
        p {
          font-size: 16px;
        }
      }
      .blue-fill-btn,
      .common-white-btn {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 12px 30px;
      }
      .blue-fill-btn {
        margin-bottom: 24px;
      }
      .mobile-mentor-master {
        width: max-content;
        position: relative;
        &::before {
          width: 117px;
          height: 47px;
          background: url('/images/master-class/our-mentoe-mobile.svg') no-repeat center;
          content: '';
          position: absolute;
          left: -4rem;
          top: 1rem;
        }
        .mobile-banner-mentor {
          background: #ffe8c5;
        }
      }
    }
  }
  .master-learn-section {
    h2 {
      text-align: center;
      & ~ p {
        text-align: center;
      }
    }
  }
  .master-class-for {
    .marquee-for::before,
    .marquee-for::after {
      content: unset;
    }
  }
  .master-register-section {
    .hurry-up-box {
      .master-reg-montor {
        img {
          min-width: 200px;
        }
        svg {
          left: 5rem !important;
          width: 250px;
          height: 300px;
          bottom: 6rem;
        }
        .mentor-info {
          bottom: -2rem;
          .blured-name {
            padding: 8px;
            p {
              font-size: 11px;
              line-height: 14px;
            }
            h3 {
              font-size: 13px;
              line-height: 16px;
            }
          }
        }
      }
      .reg-timer {
        background-color: transparent !important;
        padding: 0;
        border: 0;
        margin: 0 12px;
        span {
          font-size: 20px;
          line-height: 30px;
        }
        b {
          display: none;
        }
      }
      .reg-cta {
        button {
          width: 100%;
          max-width: 310px;
          font-size: 16px;
        }
      }
    }
    .join-whatsapp {
      max-width: 100%;
      min-height: unset !important;
      padding: 24px;
      .whatsapp-mobile {
        background: #27d045;
      }
    }
  }
  .connect-with-team {
    background: linear-gradient(182.86deg, #000825 28.75%, #002ccd 88.27%);
    svg {
      display: none;
    }
  }
  .recommended-offering {
    .explore-crs-card {
      .explore-crs-content {
        h3 {
          font-size: 18px;
          & ~ p {
            font-size: 14px !important;
          }
        }
        .exp-ratings {
          span {
            font-size: 12px !important;
          }
        }
        .exp-roles {
          span {
            font-size: 11px;
            width: 100%;
          }
          p {
            font-size: 11px;
          }
        }
        .exp-crs-duration {
          min-width: 100% !important;
          max-width: 100% !important;
          .min-w-190 {
            min-width: auto !important;
            p {
              font-size: 12px !important;
            }
            span {
              font-size: 14px !important;
            }
          }
          .h-size-44 {
            min-height: 40px !important;
            min-width: 40px !important;
          }
        }
        button {
          font-size: 12px !important;
          padding: 0 4px !important;
          width: 100%;
        }
      }
    }
  }
  .master-class-sticky {
    .master-bottom-schedule {
      box-shadow: none;
      background-color: transparent !important;
      max-width: 100%;
      min-height: unset !important;
      border: 0 !important;
      margin-bottom: 16px;
      p {
        font-size: 14px;
        color: #ffffff !important;
        line-height: 24px;
        font-weight: 400;
      }
    }
    .master-btn-reg {
      width: 100%;
      max-width: 266px;
    }
  }
}
